.jumbotron {
    background: rgb(184, 124, 134);
   
  }
  
  h1, h4 {
    color: black;
    font-family: 'Timmana', sans-serif;
  }
  
  p {
    color: black;
    font-family: 'Assistant', sans-serif;
    font-size: 1.5rem;
  }
  
  .table {
    background: rgb(245, 227, 229);
    color: #whitesmoke;
    font-family: 'Assistant', sans-serif;
    box-shadow: 15px 15px 10px #888888;
  }
  .thead {
    background: rgb(240, 182, 191);
    font-family: 'Assistant', sans-serif;
  }
  
  .table td, .table th {
    border-top: 1px solid rgb(240, 192, 200);
  }